daemon=600				# check every 600 seconds
syslog=yes				# log update msgs to syslog
mail=root				# mail all msgs to root
mail-failure=root			# mail failed update msgs to root
pid=/var/run/ddclient.pid		# record PID in file.
ssl=yes					# use ssl-support.  Works with ssl-library

## To obtain an IP address from Web status page (using the proxy if defined)
## by default, checkip.dyndns.org is used if you use the dyndns protocol. 
## Using use=web is enough to get it working.
## WARNING: set deamon at least to 600 seconds if you use checkip or you could
## get banned from their service.
use=web, web=checkip.dyndns.org/, web-skip='IP Address' # found after IP Address

protocol=googledomains
login='{{ ddclient_login }}'
password='{{ ddclient_password }}'
{{ camera_domain }}
