[Unit]
Description=sundaycam aws-ec2 port fwd SSH Tunnel
After=network.target

[Service]
Restart=always
RestartSec=20
User=pi
ExecStart=/usr/bin/ssh -N -T -o ExitOnForwardFailure=yes -o ServerAliveInterval=60 -R 0.0.0.0:{{ aws_stream_port }}:localhost:{{ pi_stream_port }} -R localhost:{{ aws_tunnel_port }}:localhost:22 aws-ec2

[Install]
WantedBy=multi-user.target
